[submodule "thermosteam"]
	path = thermosteam
	url = https://github.com/BioSTEAMDevelopmentGroup/thermosteam.git
[submodule "biosteam"]
	path = biosteam
	url = https://github.com/BioSTEAMDevelopmentGroup/biosteam.git
[submodule "QSDsan"]
	path = QSDsan
	url = https://github.com/QSD-Group/QSDsan.git
[submodule "EXPOsan"]
	path = EXPOsan
	url = https://github.com/QSD-Group/EXPOsan.git
[submodule "Bioindustrial_Park"]
	path = Bioindustrial_Park
	url = https://github.com/BioSTEAMDevelopmentGroup/Bioindustrial-Park
